main {
	font-size: 0;
}

.center {
	text-align: center;
	margin-top: 90px;
	margin-right: auto;
	margin-left: auto;
	width: 800px;
}

.half {
	width: 50%;
	height: 200px;
}

.third {
	width: 33.33%;
	height: 300px;
}

.box {
	border: 1px solid black;
	display: inline-block;
}

.green {
	background-color: green;
}
.blue {
	background-color: blue;
}
.grey {
	background-color: grey;
}
.black {
	background-color: black;
}
.orange {
	background-color: orange;
}